body {
 font-size: 16px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
	font-weight: 600;
	font-size: 16px;
}

main {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(autofit, 1fr);
}

.header__notification, .nav-link {
	width: 25px;
	height: 25px;
}

header {
	grid-column: 2 / -1;
	display: flex;
	flex-flow: column nowrap;
	padding: 35px 20px;
	gap: 20px;
}

header div {
	display: flex;
	flex-flow: row nowrap;
}

.header__search-field {
	align-items: center;		
	gap: 20px;
}

.header__notification {
	margin-left: auto;
}

.header__button-field {
	gap: 20px;
	align-items: center;
}

.header__button-field button {
	width: 100px;
	height: 30px;
	border-radius: 20px;
	background: var(--color-button);
	color: white;
}

.header__button-field button:first-of-type {
	margin-left: auto;
}

.header__profile-greet-and-name {
	display: flex;
	flex-direction: column;
}

input {
	height: 30px;
	width: 65%;
	border-radius: 20px;
	padding: 10px;
}

nav {
	background: #BEA8AA;
	grid-column: 1 / 2;	
	grid-row: 1 / 6; 
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 20px;
	gap: 40px 0;
}

.main-section {
	grid-column: 2 / -1;	
	display: grid;
	grid-template-columns: 5fr 2fr;
	
}

article {
	background: var(--color-secondary);	
}

.article__card-conainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.card {
	background: white;
	padding: 10px;
	border-radius: 7px;
}

.article__card-content {
	font-size: 12px;
}


aside {
	background: var(--color-tercary);


}

nav, article, aside {

}